:root {
  --ss-background: #020407;
  --ss-surface: #0A0D0F;
  --ss-chrome: #131A21;
  --ss-foreground: #EFF2F6;
  --ss-muted-foreground: #A0A5AA;
  --ss-chrome-foreground: #EFF2F6;
  --ss-border: #303942;
  --ss-primary: #7FAEFF;
  --ss-primary-foreground: #020305;
  --ss-accent: #CAA7FC;
  --ss-accent-foreground: #020305;
  --ss-focus: #95C9FF;
  --ss-success: #73D083;
  --ss-success-foreground: #020305;
  --ss-warning: #E1AD57;
  --ss-warning-foreground: #020305;
  --ss-danger: #FF968A;
  --ss-danger-foreground: #020305;
  --ss-primary-50: #F5F9FF;
  --ss-primary-100: #E1ECFF;
  --ss-primary-200: #C2D9FF;
  --ss-primary-300: #99BFFF;
  --ss-primary-400: #649CFF;
  --ss-primary-500: #417EEB;
  --ss-primary-600: #2765D1;
  --ss-primary-700: #154DB0;
  --ss-primary-800: #00348C;
  --ss-primary-900: #00205D;
  --ss-primary-950: #000E33;
  --ss-accent-50: #FAF7FF;
  --ss-accent-100: #F0E6FF;
  --ss-accent-200: #E1CDFF;
  --ss-accent-300: #CBAEF4;
  --ss-accent-400: #AC8DD7;
  --ss-accent-500: #9270BD;
  --ss-accent-600: #7A58A5;
  --ss-accent-700: #624388;
  --ss-accent-800: #492C69;
  --ss-accent-900: #30164C;
  --ss-accent-950: #1A0230;
}
